<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>
<h1>Delete Receipt</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/receipts">Receipt list</a>
</p>
<form th:action="@{/delete-receipt}" th:object="${receipt}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${receipt.name}"></td>
        </tr>
        <tr>
            <td>Cost:</td>
            <td th:text="${receipt.cost}"></td>
        </tr>
        <tr>
            <td>Note:</td>
            <td th:text="${receipt.note}"></td>
        </tr>
        <tr>
            <td>Pay List:</td>
            <td th:text="${receipt.payList}"></td>
        </tr>
        <tr>
            <td>Picture:</td>
            <td><img width="100" height="100" th:src="@{'/fileanh/' + ${receipt.pictureName}}" alt=""></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete receipt"></td>
        </tr>
    </table>
</form>
</body>
</html>